In [12]:
# !wget -nc "https://www.dropbox.com/s/cnsgyitrtw40lgs/model.pth?dl=0"

In [1]:
from eva.server.db_api import connect
import nest_asyncio
nest_asyncio.apply()
cursor = connect(host="127.0.0.1", port=8803).cursor()

In [2]:
cursor.execute("DROP TABLE IF EXISTS SALIENCY;")
response = cursor.fetch_all()
print(response)
cursor.execute("LOAD IMAGE 'data/saliency/test2.jpeg' INTO SALIENCY;")
response = cursor.fetch_all()
print(response)
cursor.execute("LOAD IMAGE 'data/saliency/test1.jpeg' INTO SALIENCY;")
response = cursor.fetch_all()
print(response)

@status: ResponseStatus.SUCCESS
@batch:
                                       0
0  Table Successfully dropped: SALIENCY
@query_time: 0.14173112499999974
@status: ResponseStatus.SUCCESS
@batch:
                            0
0  Number of loaded IMAGE: 1
@query_time: 3.684535208
@status: ResponseStatus.SUCCESS
@batch:
                            0
0  Number of loaded IMAGE: 1
@query_time: 0.025982166999998668

In [3]:
cursor.execute("""DROP UDF IF EXISTS SaliencyMaps;""")
response = cursor.fetch_all()
print(response)

cursor.execute("""
CREATE UDF SaliencyMaps
IMPL  'eva/udfs/SaliencyMaps.py';
"""
)
response = cursor.fetch_all()
print(response)

@status: ResponseStatus.SUCCESS
@batch:
                                        0
0  UDF SaliencyMaps successfully dropped
@query_time: 0.02921800000000019
@status: ResponseStatus.SUCCESS
@batch:
                                                       0
0  UDF SaliencyMaps successfully added to the database.
@query_time: 0.6207287910000048

In [4]:

cursor.execute("""SELECT *
                  FROM SALIENCY
                  """)
response = cursor.fetch_all()
print(response.batch)

   saliency._row_id             saliency.name
0                 1  data/saliency/test2.jpeg  \
1                 2  data/saliency/test1.jpeg

                                                                                         saliency.data
0  [[[30 31 13]\n [33 34 16]\n [33 34 20]\n [41 42 28]\n [29 29 17]\n [32 32 20]\n [22 22 12]\n [35...
1  [[[0 0 0]\n [0 0 0]\n [0 0 0]\n [0 0 0]\n [0 0 0]\n [0 0 0]\n [0 0 0]\n [0 0 0]\n [0 0 0]\n [0 0...

In [5]:

cursor.execute("""SELECT SaliencyMaps(data)
                  FROM SALIENCY
                  """)
response = cursor.fetch_all()
print(response.batch)

None

In [3]:
cursor.execute("""SELECT data, SaliencyMaps(data)
                  FROM SALIENCY
                  """)
response = cursor.fetch_all()
print(response.batch)