In [2]:
from eva.server.db_api import connect
import nest_asyncio
nest_asyncio.apply()
cursor = connect(host="127.0.0.1", port=8803).cursor()

In [3]:
# !wget -nc "https://www.dropbox.com/s/cnsgyitrtw40lgs/model.pth?dl=0"

In [5]:
cursor.execute("DROP TABLE IF EXISTS SALIENCY;")
response = cursor.fetch_all()
print(response)
cursor.execute("LOAD IMAGE 'data/saliency/test1.jpeg' INTO SALIENCY;")
response = cursor.fetch_all()
print(response)
cursor.execute("LOAD IMAGE 'data/saliency/test2.jpeg' INTO SALIENCY;")
response = cursor.fetch_all()
print(response)

@status: ResponseStatus.SUCCESS
@batch:
                                       0
0  Table Successfully dropped: SALIENCY
@query_time: 0.05528937500000097
@status: ResponseStatus.SUCCESS
@batch:
                            0
0  Number of loaded IMAGE: 1
@query_time: 0.08377341599999966
@status: ResponseStatus.SUCCESS
@batch:
                            0
0  Number of loaded IMAGE: 1
@query_time: 0.02866383300000308

In [6]:
cursor.execute("""DROP UDF IF  EXISTS SaliencyFeatureExtractor
        """).fetch_all().as_df()
cursor.execute("""CREATE UDF IF NOT EXISTS SaliencyFeatureExtractor
                    IMPL  'eva/udfs/saliency_feature_extractor.py';
        """).fetch_all().as_df()

                                                   0
0  UDF SaliencyFeatureExtractor successfully adde...

In [7]:
cursor.execute("""SELECT data, SaliencyFeatureExtractor(data)
                  FROM SALIENCY
        """).fetch_all().as_df()

,saliency.data,saliencyfeatureextractor.saliency
0,"[[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...","[[[tensor(0.0020), tensor(0.0017), tensor(0.00..."
1,"[[[30, 31, 13], [33, 34, 16], [33, 34, 20], [4...","[[[tensor(0.0033), tensor(0.0036), tensor(0.00..."

In [8]:
cursor.execute("""SELECT *
                  FROM SALIENCY
        """).fetch_all().as_df()

,saliency._row_id,saliency.name,saliency.data
0,1,data/saliency/test1.jpeg,"[[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ..."
1,2,data/saliency/test2.jpeg,"[[[30, 31, 13], [33, 34, 16], [33, 34, 20], [4..."